<a href="https://colab.research.google.com/github/eunseochu/YB_7th/blob/main/%EB%91%90%EC%9E%87_%ED%8C%90%EB%8B%A4%EC%8A%A4_%EC%8B%9C%EA%B3%84%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **12-1) datetime 오브젝트**

#### **1) datetime 라이브러리** <br/>
날짜와 시간을 처리하는 등의 다양한 기능을 제공하는 파이썬 라이브러리
- 날짜를 처리하는 date 오브젝트
- 시간을 처리하는 time 오브젝트
- 날짜와 시간을 모두 처리하는 datetime 오브젝트

#### **2) datetime 오브젝트 사용하기** <br/>

> **1. datetime 라이브러리 불러오기** <br/>
datetime 오브젝트를 사용하기 위해 datetime 라이브러리를 불러옴

In [1]:
from datetime import datetime

> **2. now, today 메서드** <br/>
현재 시간 출력

In [2]:
now1 = datetime.now()
print(now1)

now2 = datetime.today()
print(now2)

2022-10-09 16:47:08.156029
2022-10-09 16:47:08.157682

> **3. datetime 오브젝트 생성** <br/>
시간을 직접 입력하여 인자로 전달

In [4]:
t1 = datetime.now()
t2 = datetime(1970, 1, 1)
t3 = datetime(1970, 12, 12, 13, 24, 34)

print(t1) # now 메서드는 밀리초단위까지
print(t2)
print(t3)

2022-10-09 16:48:25.649644
1970-01-01 00:00:00
1970-12-12 13:24:34

> **4. 시간 계산** <br/>
두 datetime 오브젝트의 차이를 구해 시간 계산 가능

In [8]:
diff1 = t1 - t2

print(diff1)
print(type(diff1))

diff2 = t2 - t1

print(diff2)
print(type(diff2))

19274 days, 16:48:25.649644
<class 'datetime.timedelta'>
-19275 days, 7:11:34.350356
<class 'datetime.timedelta'>

#### **3) 테슬라의 주식 데이터로 시간 계산하기** <br/>
pandas-datareader 라이브러리로 주식 데이터를 불러와 진행

In [47]:
import pandas as pd

In [66]:
! pip install pandas-datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.9.1)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2022.4)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)

> **1. 데이터 저장** <br/>
get_data_qunnal 메서드에 TSLA라는 문자열을 전달하여 테슬라의 주식 데이터를 내려 받은 후, <br/>
to_csv 메서드를 통해 data 폴더 안에 'tesla_stock_quandl.csv'라는 이름으로 저장

In [79]:
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader as pdr

# tesla에는 데이터 프레임이 저장
tesla = pdr.get_data_quandl('TSLA', api_key='RPCW9Add5pxCBZcWJBSs')

# tesla에 저장된 데이터프레임을 파일로 저장
tesla.to_csv('/content/sample_data/tesla_stock_quandl.csv')

> **2. 자료 확인** <br/>
tesla 데이터프레임의 Date 열은 문자열로 저장되어있음

In [80]:
print(tesla.head())

              Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

> **3. 자료형 변환** <br/>
Date 열을 **Datetime 형으로 변환해야 시간 계산이 가능**
- read_csv 메서드로 데이터 집합을 불러올 때 parse_dates 인자에 Date 열 전달

In [93]:
tesla = pd.read_csv('/content/sample_data/tesla_stock_quandl.csv', parse_dates=[0])
print(tesla.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        115 non-null    datetime64[ns]
 1   Open        115 non-null    float64
 2   High        115 non-null    float64
 3   Low         115 non-null    float64
 4   Close       115 non-null    float64
 5   Volume      115 non-null    float64
 6   ExDividend  115 non-null    float64
 7   SplitRatio  115 non-null    float64
 8   AdjOpen     115 non-null    float64
 9   AdjHigh     115 non-null    float64
 10  AdjLow      115 non-null    float64
 11  AdjClose    115 non-null    float64
 12  AdjVolume   115 non-null    float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 11.8 KB
None

> **4. 데이터 추출** <br/>
datetime 오브젝트는 dt 접근자 사용 가능
- 불린 추출로 2018년 3월 데이터 추출

In [84]:
print(tesla.loc[(tesla.Date.dt.year == 2018) & (tesla.Date.dt.month == 3)])

         Date    Open    High       Low   Close      Volume  ExDividend  \
0  2018-03-27  304.00  304.27  277.1800  279.18  13696168.0         0.0
1  2018-03-26  307.34  307.59  291.3600  304.18   8324639.0         0.0
2  2018-03-23  311.25  311.61  300.4500  301.54   6600538.0         0.0
3  2018-03-22  313.89  318.82  308.1800  309.10   4914307.0         0.0
4  2018-03-21  310.25  322.44  310.1900  316.53   5927881.0         0.0
5  2018-03-20  314.87  316.25  308.7600  310.55   4726182.0         0.0
6  2018-03-19  316.50  320.75  309.6700  313.56   7440766.0         0.0
7  2018-03-16  325.96  327.40  319.0700  321.35   6058612.0         0.0
8  2018-03-15  329.38  332.85  321.1000  325.60   6366922.0         0.0
9  2018-03-14  336.76  339.81  323.9300  326.63   7932511.0         0.0
10 2018-03-13  344.92  345.12  336.2635  341.84   5932110.0         0.0
11 2018-03-12  328.61  347.21  326.5000  345.51   8212156.0         0.0
12 2018-03-09  324.10  328.49  322.3700  327.17   5479716.0         0.0
13 2018-03-08  332.86  333.30  326.2740  329.10   3476944.0         0.0
14 2018-03-07  325.44  332.50  321.7400  332.30   5007297.0         0.0
15 2018-03-06  333.75  336.37  327.0300  328.20   4285744.0         0.0
16 2018-03-05  332.39  337.75  329.2929  333.35   3823769.0         0.0
17 2018-03-02  326.98  335.22  322.9700  335.12   5092829.0         0.0
18 2018-03-01  345.01  348.67  330.0700  330.93   6885601.0         0.0

    SplitRatio  AdjOpen  AdjHigh    AdjLow  AdjClose   AdjVolume
0          1.0   304.00   304.27  277.1800    279.18  13696168.0
1          1.0   307.34   307.59  291.3600    304.18   8324639.0
2          1.0   311.25   311.61  300.4500    301.54   6600538.0
3          1.0   313.89   318.82  308.1800    309.10   4914307.0
4          1.0   310.25   322.44  310.1900    316.53   5927881.0
5          1.0   314.87   316.25  308.7600    310.55   4726182.0
6          1.0   316.50   320.75  309.6700    313.56   7440766.0
7          1.0   325.96   327.40  319.0700    321.35   6058612.0
8          1.0   329.38   332.85  321.1000    325.60   6366922.0
9          1.0   336.76   339.81  323.9300    326.63   7932511.0
10         1.0   344.92   345.12  336.2635    341.84   5932110.0
11         1.0   328.61   347.21  326.5000    345.51   8212156.0
12         1.0   324.10   328.49  322.3700    327.17   5479716.0
13         1.0   332.86   333.30  326.2740    329.10   3476944.0
14         1.0   325.44   332.50  321.7400    332.30   5007297.0
15         1.0   333.75   336.37  327.0300    328.20   4285744.0
16         1.0   332.39   337.75  329.2929    333.35   3823769.0
17         1.0   326.98   335.22  322.9700    335.12   5092829.0
18         1.0   345.01   348.67  330.0700    330.93   6885601.0

#### **4) datetime 오브젝트와 인덱스 - DatetimeIndex** <br/>
datetime 오브젝트를 데이터프레임의 인덱스로 설정하면 원하는 시간의 데이터를 바로 추출 가능

> **1. 인덱스 설정** <br/>
Date 열을 tesla 데이터프레임의 인덱스로 지정

In [73]:
tesla.index = tesla['Date']
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2017-10-23', '2017-10-20', '2017-10-19', '2017-10-18',
               '2017-10-17', '2017-10-16', '2017-10-13', '2017-10-12',
               '2017-10-11', '2017-10-10'],
              dtype='datetime64[ns]', name='Date', length=115, freq=None)

> **2. 데이터 추출** <br/>
datetime 오브젝트를 인덱스로 지정해 원하는 시간의 데이터 바로 추출 가능

In [75]:
# 2018년 데이터 추출
print(tesla['2018'].iloc[:5, :5])

                 Date    Open    High     Low   Close
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.

In [76]:
# 2017년 10월 데이터 추출
print(tesla['2017-10'].iloc[:, :5])

                 Date    Open      High       Low   Close
Date
2017-10-31 2017-10-31  320.23  331.9500  320.1800  331.53
2017-10-30 2017-10-30  319.18  323.7800  317.2500  320.08
2017-10-27 2017-10-27  319.75  324.5900  316.6600  320.87
2017-10-26 2017-10-26  327.78  330.2300  323.2000  326.17
2017-10-25 2017-10-25  336.70  337.5000  323.5600  325.84
2017-10-24 2017-10-24  338.80  342.8000  336.1600  337.34
2017-10-23 2017-10-23  349.88  349.9500  336.2500  337.02
2017-10-20 2017-10-20  352.69  354.5500  344.3400  345.10
2017-10-19 2017-10-19  355.56  357.1465  348.2000  351.81
2017-10-18 2017-10-18  355.97  363.0000  354.1300  359.65
2017-10-17 2017-10-17  350.91  356.2200  350.0700  355.75
2017-10-16 2017-10-16  353.76  354.4800  347.1600  350.60
2017-10-13 2017-10-13  356.98  358.4900  353.6800  355.57
2017-10-12 2017-10-12  352.95  359.7800  352.6400  355.68
2017-10-11 2017-10-11  353.89  357.6000  351.1500  354.60
2017-10-10 2017-10-10  346.80  355.6300  345.5305  355.59

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.

#### **5) 시간 간격과 인덱스 - TimedeltaIndex** <br/>
주식 데이터에서 최초 5일간 수집된 데이터만 살펴보기 위해 시간 간격을 인덱스로 지정

> **1. 데이터 수집 이후 시간이 얼마나 흘렀는지 확인** <br/>
Date 열에서 Date 열의 최솟값 (2010-06-29)을 뺀 다음 ref_date 열로 추가

In [77]:
tesla['ref_date'] = tesla['Date'] - tesla['Date'].min()
print(tesla.head())

                 Date    Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume  \
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

           ref_date
Date
2018-03-27 168 days
2018-03-26 167 days
2018-03-23 164 days
2018-03-22 163 days
2018-03-21 162 days

> **2. 시간 간격(ref_date)을 이용해 데이터 추출** <br/>
ref_date 열을 인덱스로 지정

In [59]:
tesla.index = tesla['ref_date']
print(tesla.iloc[:5, :5])

               Date    Open    High     Low   Close
ref_date
168 days 2018-03-27  304.00  304.27  277.18  279.18
167 days 2018-03-26  307.34  307.59  291.36  304.18
164 days 2018-03-23  311.25  311.61  300.45  301.54
163 days 2018-03-22  313.89  318.82  308.18  309.10
162 days 2018-03-21  310.25  322.44  310.19  316.53

> **3. 데이터 수집 후 최초 5일의 데이터 추출** <br/>

In [61]:
# 4 days는 데이터가 처음부터 없어서 출력되지 않았음

print(tesla['5 days':].iloc[:5, :5])

               Date    Open    High       Low   Close
ref_date
3 days   2017-10-13  356.98  358.49  353.6800  355.57
2 days   2017-10-12  352.95  359.78  352.6400  355.68
1 days   2017-10-11  353.89  357.60  351.1500  354.60
0 days   2017-10-10  346.80  355.63  345.5305  355.59

#### **6) 시간 범위와 인덱스** <br/>
누락된 데이터도 포함시켜 데이터를 살펴보기 위해서는 **임의로 시간 범위를 생성**하여 인덱스 지정

> **1. 에볼라 데이터 집합 불러오기** <br/>
2015년 01월 01일, 2014년 3월 23일의 데이터가 누락되어있음을 확인

In [89]:
# 2015년 01년 01일

ebola = pd.read_csv('/content/sample_data/country_timeseries.csv', parse_dates=[0])
print(ebola.iloc[:5, :5])

        Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0 2015-01-05  289        2776.0            NaN            10030.0
1 2015-01-04  288        2775.0            NaN             9780.0
2 2015-01-03  287        2769.0         8166.0             9722.0
3 2015-01-02  286           NaN         8157.0                NaN
4 2014-12-31  284        2730.0         8115.0             9633.0

In [90]:
# 2014년 3월 23일

print(ebola.iloc[-5:, :5])

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
117 2014-03-27    5         103.0            8.0                6.0
118 2014-03-26    4          86.0            NaN                NaN
119 2014-03-25    3          86.0            NaN                NaN
120 2014-03-24    2          86.0            NaN                NaN
121 2014-03-22    0          49.0            NaN                NaN

> **2. 시간 인덱스 생성** <br/>
data_range 메서드를 사용하여 2014년 12월 31일부터 2015년 01월 05일 사이의 시간 인덱스 생성

In [91]:
head_range = pd.date_range(start = '2014-12-31', end='2015-01-05')
print(head_range)

DatetimeIndex(['2014-12-31', '2015-01-01', '2015-01-02', '2015-01-03',
               '2015-01-04', '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

> **3. 새로운 ebola 데이터프레임 생성** <br/>
원본 데이터 손상을 막기 위해 ebola 데이터프레임의 앞쪽 5개의 데이터를 추출하여 새로운 데이터프레임 생성
- Date 열을 인덱스로 먼저 지정하지 않으면 오류 발생
- **반드시 Date 열을 인덱스로 지정한 다음 시간 범위를 인덱스로 지정**

In [92]:
ebola_5 = ebola.head()
ebola_5.index = ebola_5['Date']
ebola_5.reindex(head_range)
print(ebola_5.iloc[:5, :5])

                 Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
Date
2015-01-05 2015-01-05  289        2776.0            NaN            10030.0
2015-01-04 2015-01-04  288        2775.0            NaN             9780.0
2015-01-03 2015-01-03  287        2769.0         8166.0             9722.0
2015-01-02 2015-01-02  286           NaN         8157.0                NaN
2014-12-31 2014-12-31  284        2730.0         8115.0             9633.0

> **시간 범위의 주기 설정하기** <br/>
시간 범위를 인덱스로 지정하면 생성되는 DatatimeIndex 속성에는 **freq 속성**이 포함되어 있는데,<br/>
**freq 속성값을 지정**하면 **시간 간격**을 조절하여 DatetimeIndex 생성 가능
- B: 평일만 포함
- C: 사용자가 정의하는 평일만 포함
- D: 달력 일자 단위
- W: 주간 단위
- M: 월 마지막 날만 포함
- SM: 15일과 월 마지막 날만 포함
- BM: M 주기의 값이 휴일이면 제외하고 평일만 포함
- CBM: BM에 사용자 정의 평일을 적용
- MS: 월 시작일만 포함
- SMS: 월 시작일과 15일만 포함
- BMS: MS 주기의 값이 휴일이면 제외하고 평일만 포함
- CBMS: BMS에 사용자 정의 평일을 적용
- Q: 3, 6, 9, 12월 분기 마지막 날만 포함
- BQ: 3, 6, 9, 12월 분기 마지막 날이 휴일이면 제외하고 평일만 포함
- QS: 3, 6, 9, 12월 분기 시작일만 포함
- BQS: 3, 6, 9, 12월 분기 시작일이 휴일이면 제외하고 평일만 포함
- A: 년의 마지막 날만 포함
- BA: 년의 마지막 날이 휴일이면 제외하고 평일만 포함
- AS: 년의 시작일만 포함
- BAS: 년의 시작일이 휴일이면 제외하고 평일만 포함
- BH: 평일을 시간 단위로 포함 (09:00 ~ 16:00)
- H: 시간 단위로 포함 (00:00 ~ 00:00)